# Version Control
.git
README.md

# Docker
docker-compose*
.dockerignore
Dockerfile*

# Frontend (React)
frontend/node_modules
frontend/dist

# Worker (Python)
worker/venv
worker/__pycache__

# Envoirment
.env*

tmp/
.air.toml